<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <title>Title</title>
  <!-- 引入样式文件 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.2/lib/index.css">

  <style>
    #app {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .wrap {
      height: 100%;
      max-height: 100%;
      overflow: scroll;
    }
  </style>
</head>
<body>

<div id="app">
  <div class="wrap">

    <van-pull-refresh v-model="refreshLoading" @refresh="onRefresh">
      <van-list
        class="list"
        v-model="loadMoreLoading"
        :finished="!pagination.hasMore"
        :error.sync="pagination.error"
        error-text="请求失败，点击重新加载"
        finished-text="没有更多了"
        @load="loadMore()"
      >

        <van-cell v-for="(item,i) in pagination.list" :title="item.id"></van-cell>

      </van-list>
    </van-pull-refresh>

  </div>
</div>

<!-- 引入 Vue 和 Vant 的 JS 文件 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.2/lib/vant.min.js"></script>

<script>
  /**
   * 模拟服务器接口
   */
  function mockGetList(requestParams) {
    return new Promise((resolve, reject) => {

      console.log('模拟接口收到请求', requestParams);

      let {
        page,
        perPage = 20
      } = requestParams;
      page = +page;
      perPage = +perPage;
      if (!page)
        return resolve({msg: '非法page', code: 0});

      // 等待0.5秒,模拟异步
      setTimeout(() => {
        let result = getList(page, perPage);
        let response = result ? {data: result, code: 1} :  {msg: '没有结果', code: 0};
        console.log('服务器响应',response);
        resolve(response)
      }, 500);


      let data = [...new Array(80)].map((_, i) => ({id: i, name: 'Name'}));

      function getList(page = 1, perPage = 20) {
        let start = (page - 1) * perPage;
        let end = start + perPage;
        let list = data.slice(start, end);
        let hasMore = data.length > end;

        return {
          data: list,
          page,
          perPage,
          totalPage: Math.ceil(data.length / perPage),
          hasMore
        };
      }

    });
  }

  /**
   * 前端接口
   */
  function getList(params) {
    return new Promise((resolve, reject) => {
      mockGetList(params).then(response=>{
        if(response.code===1)
          resolve(response.data)
        else
          reject(response)
      }).catch(reject)
    })
  }

</script>

<!--<script src="../dist/index.js"></script>-->

<script type="module">
  import { Pagination } from "../index.js";

  // 先设置接口回调处理
  Pagination.format = function (result) {
    console.log(result);
    // result 为分页类接口返回的数据
    let {
      totalPage,
      page,
      data
    } = result;

    // 转为 Pagination 能识别的格式
    return {
      totalPage,
      list: data,
      page
    }
  }

  // 所有实例的api请求时都会携带此参数
  Pagination.setSetting({defaultParams: {id: 3}})


  new Vue({
    el: '#app',
    data: {
      refreshLoading: false,    // 下拉刷新loading
      loadMoreLoading: false,   // 上拉加载loading
      pagination: new Pagination(getList, {type: 1})    // 分页器
    },
    methods: {
      // 下拉刷新
      onRefresh() {
        this.pagination.reset();
        this.loadMore()
      },
      // 加载更多
      async loadMore() {

        await this.pagination.loadMore({tab: 3});

        this.loadMoreLoading && (this.loadMoreLoading = this.pagination.loading);
        this.refreshLoading && (this.refreshLoading = this.pagination.loading);
      }
    },
  });


</script>
</body>
</html>
